In [52]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn import metrics
# from pandas_profiling import ProfileReport
# from pandas_profiling.profile_report import ProfileReport
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score

In [53]:
Data = pd.read_csv('data/car data.csv')
Data
data = pd.DataFrame(Data)
data.head(5)

,Car_Name,Year,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,ritz,2014,3.35,5.59,27000,Petrol,Dealer,Manual,0
1,sx4,2013,4.75,9.54,43000,Diesel,Dealer,Manual,0
2,ciaz,2017,7.25,9.85,6900,Petrol,Dealer,Manual,0
3,wagon r,2011,2.85,4.15,5200,Petrol,Dealer,Manual,0
4,swift,2014,4.60,6.87,42450,Diesel,Dealer,Manual,0

In [54]:
data.describe()

              Year  Selling_Price  Present_Price     Kms_Driven       Owner
count   301.000000     301.000000     301.000000     301.000000  301.000000
mean   2013.627907       4.661296       7.628472   36947.205980    0.043189
std       2.891554       5.082812       8.644115   38886.883882    0.247915
min    2003.000000       0.100000       0.320000     500.000000    0.000000
25%    2012.000000       0.900000       1.200000   15000.000000    0.000000
50%    2014.000000       3.600000       6.400000   32000.000000    0.000000
75%    2016.000000       6.000000       9.900000   48767.000000    0.000000
max    2018.000000      35.000000      92.600000  500000.000000    3.000000

In [55]:
del data['Car_Name']
Age = 2023 - data['Year']
data.insert(1,'Age',Age)

In [65]:
del data['Year']
data.head(5)

,Age,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,9,3.35,5.59,27000,2,2,2,0
1,10,4.75,9.54,43000,3,2,2,0
2,6,7.25,9.85,6900,2,2,2,0
3,12,2.85,4.15,5200,2,2,2,0
4,9,4.60,6.87,42450,3,2,2,0

In [66]:
data.replace({'Petrol':2,'Diesel':3,'CNG':4},inplace=True)
data.replace({'Dealer':2,'Individual':3},inplace=True)
data.replace({'Manual':2,'Automatic':3,},inplace=True)

In [67]:
data.head(1)

,Age,Selling_Price,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,9,3.35,5.59,27000,2,2,2,0

In [68]:
x = pd.DataFrame(data, columns = ['Age','Present_Price','Kms_Driven','Fuel_Type','Seller_Type','Transmission','Owner']) 
y = data['Selling_Price'].values.reshape(-1,1)

In [69]:
x.head(1)

   Age  Present_Price  Kms_Driven  Fuel_Type  Seller_Type  Transmission  Owner
0    9           5.59       27000          2            2             2      0

In [60]:
x_train, x_test, y_train,y_test = train_test_split(x,y , test_size = 0.2 , random_state = 0)

regressor = LinearRegression()

In [61]:
regressor.fit(x_train,y_train)
y_pred = regressor.predict(x_test)

In [62]:
print("MAE:",metrics.mean_absolute_error(y_test,y_pred))
print("MSE:",metrics.mean_squared_error(y_test,y_pred))
print("RMSE:",np.sqrt(metrics.mean_squared_error(y_test,y_pred)))
print("R2score:",metrics.r2_score(y_test,y_pred))

MAE: 1.000032601214668
MSE: 2.1885564456578672
RMSE: 1.4793770464820208
R2score: 0.9134181721224436

In [63]:
import joblib
joblib.dump(regressor, 'model_weights_simple.pkl')

['model_weights_simple.pkl']

Adding some extra feature with the existing feature

In [23]:
x =data.drop('Selling_Price',axis = 1)
y = data['Selling_Price'].values.reshape(-1,1)

In [24]:
def check(dimension,testsize):
    r2 = 0.8793462370195231
    for column in x:
        new_column_name = column + str(dimension)
        new_column_val = x[column]**(dimension)
        x.insert(0 , new_column_name , new_column_val)
        x_train, x_test, y_train, y_test = train_test_split(x, y,test_size = testsize, random_state = 0)
        regressor = LinearRegression()
        regressor.fit(x_train,y_train)
        y_pred = regressor.predict(x_test)
        r2_new = metrics.r2_score(y_test , y_pred)
        if r2_new < r2:
            x.drop([new_column_name],axis =1 ,inplace =True)
            print(r2_new)
        else:
            r2 = r2_new
    print('r2 score',r2)

In [25]:
check(2,0.2)

0.9254214916723296
0.9258559069799548
r2 score 0.9283922145738928

In [26]:
pres_Kms = x['Present_Price']*x['Kms_Driven']
pres_Kms2 = x['Present_Price']*x['Kms_Driven2']
pres_Age = x['Present_Price']*x['Age']
pres_Age2 = x['Present_Price']*x['Age2']
pres_Trans = x['Present_Price']*x['Transmission']
pres_Trans2 = x['Present_Price']*x['Transmission2']
pres2_Trans = x['Present_Price2']*x['Transmission']
pres2_Trans2 = x['Present_Price2']*x['Transmission2']
pres2_Age = x['Present_Price2']*x['Age']
pres2_Age2 = x['Present_Price2']*x['Age2']
pres2_Kms = x['Present_Price2']*x['Kms_Driven']
pres2_Kms2 = x['Present_Price2']*x['Kms_Driven2']

In [27]:
x.insert(0,'pres_Kms',pres_Kms)
x.insert(0,'pres_Kms2',pres_Kms2)
x.insert(0,'pres_Age',pres_Age)
x.insert(0,'pres_Age2',pres_Age2)
x.insert(0,'pres_Trans',pres_Trans)
x.insert(0,'pres_Trans2',pres_Trans2)
x.insert(0,'pres2_Trans',pres2_Trans)
x.insert(0,'pres2_Trans2',pres2_Trans2)
x.insert(0,'pres2_Age',pres2_Age)
x.insert(0,'pres2_Age2',pres2_Age2)
x.insert(0,'pres2_Kms',pres2_Kms)
x.insert(0,'pres2_Kms2',pres2_Kms2)

In [28]:
x_train, x_test, y_train, y_test = train_test_split(x, y,test_size= 0.2, random_state = 0)
regressor = LinearRegression()

In [29]:
regressor.fit(x_train, y_train)
y_pred = regressor.predict(x_test)

In [30]:
print('r2score',metrics.r2_score(y_test, y_pred))

r2score 0.970329593902923

In [31]:
import joblib
joblib.dump(regressor, 'model_weights.pkl')

['model_weights.pkl']

In [50]:
x.head(1)

,pres2_Kms2,pres2_Kms,pres2_Age2,pres2_Age,pres2_Trans2,pres2_Trans,pres_Trans2,pres_Trans,pres_Age2,pres_Age,...,Kms_Driven2,Present_Price2,Age2,Age,Present_Price,Kms_Driven,Fuel_Type,Seller_Type,Transmission,Owner
0,2.277986e+10,843698.7,2531.0961,281.2329,124.9924,62.4962,22.36,11.18,452.79,50.31,...,729000000,31.2481,81,9,5.59,27000,2,2,2,0

In [49]:
x.iloc[0,9]

50.31

In [51]:
model = joblib.load(open('model_weights.pkl','rb'))
print(model.predict([[x.iloc[0,0],x.iloc[0,1],x.iloc[0,2],x.iloc[0,3],x.iloc[0,4],x.iloc[0,5],x.iloc[0,6],x.iloc[0,7],x.iloc[0,8],x.iloc[0,9],x.iloc[0,10],
                      x.iloc[0,11],x.iloc[0,12],x.iloc[0,13],x.iloc[0,14],x.iloc[0,15],x.iloc[0,16],x.iloc[0,17],x.iloc[0,18],x.iloc[0,19],x.iloc[0,20],
                      x.iloc[0,21],x.iloc[0,22],x.iloc[0,23]]]))

[[3.42877953]]

d:\ML\LR_WITH_FLASK\Lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(